<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование Заявки на Ремонт</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='logo/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='logo/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Редактировать Заявку на Ремонт</h1>
        <form method="POST">
            <div class="mb-3">
                {{ form.hidden_tag() }}
                {% with messages = get_flashed_messages(category_filter="danger") %}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
                <label for="device_type" class="form-label">{{ form.device_type.label }}</label>
                {{ form.device_type(class="form-control", id="device_type") }}
            </div>
            <div class="mb-3">
                <label for="device_model" class="form-label">{{ form.device_model.label }}</label>
                {{ form.device_model(class="form-control", id="device_model") }}
            </div>
            <div class="mb-3">
                <label for="issue_description" class="form-label">{{ form.issue_description.label }}</label>
                {{ form.issue_description(class="form-control", id="issue_description", rows=5) }}
            </div>
            <div class="mb-3">
                {{ form.current_master.label(class_="form-label") }}
                {{ form.current_master(class_="form-select") }}
            </div>
            <div class="mb-3">
                <label for="client_name" class="form-label">{{ form.client_name.label }}</label>
                {{ form.client_name(class="form-control", id="client_name") }}
            </div>
            <div class="mb-3">
                <label for="client_phone" class="form-label">{{ form.client_phone.label }}</label>
                {{ form.client_phone(class="form-control", id="client_phone") }}
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">{{ form.status.label }}</label>
                {{ form.status(class="form-select", id="status") }}
            </div>
            <div class="mb-3">
                <label for="master_comment" class="form-label">{{ form.master_comment.label }}</label>
                {{ form.master_comment(class="form-control", id="master_comment", rows=5) }}
            </div>
{#            <div class="form-check mb-3">#}
{#                {{ form.is_active(class="form-check-input", id="is_active") }}#}
{#                <label class="form-check-label" for="is_active">{{ form.is_active.label }}</label>#}
{#            </div>#}
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{{ url_for('main.profile') }}" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
